<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JoinerSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JoinerSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <JoinerSplitter.Properties.Settings>
      <setting name="OutputFolder" serializeAs="String">
        <value/>
      </setting>
    </JoinerSplitter.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <JoinerSplitter.Properties.Settings>
      <setting name="DefaultEncodingPresets" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Direct copy</string>
            <string>-c copy</string>
            <string>h264 80Mbit/s</string>
            <string>-c:v libx264 -x264-params \"nal-hrd=cbr\" -b:v 80M -minrate 80M -maxrate 100M -bufsize 500M -c:a copy</string>
          </ArrayOfString>
        </value>
      </setting>
    </JoinerSplitter.Properties.Settings>
  </applicationSettings>
</configuration>
