<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net46" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net47" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net46" developmentDependency="true" />
</packages>